
body{
    background-image: url('../ASM/img/Thiết\ kế\ không\ tên.png');
}
/* Phần header */
.container{
   max-width: 960px;
   margin: 0px auto;
}
.header{
   background-color: rgb(19, 19, 19);
}
header{
   display: flex;
   justify-content: space-between;
   justify-items: center;

}
#logo{
   padding: 5px 0px;
}
#logo img{
   max-width: 100px;
   height: auto;
}
.menuchinh{
   display: flex;
   list-style: none;
   margin: 0;
   padding: 0;
}
.menuchinh li{
   position: relative;
}
.menuchinh li a{
   color: whitesmoke;
   display: block;
   padding: 30px 20px;
   text-decoration: none;
   font-size: large;

}
.menuchinh li a:hover{
   color: rgb(81, 153, 81);
   font-weight: bold;
}

.menuchinh ul.menucon{
   position: absolute;
   background-color: rgb(19, 19, 19);
   padding: 15px 0px;
   list-style: none;
   width: 200px;
   border-top: 1px solid rgb(112, 100, 100);
   display: none;
}
.menuchinh li:hover ul.menucon{
   display: block;
}
.menuchinh ul.menucon a{
   padding: 10px 15px;
   border-bottom: 1px solid gainsboro;
   font-family: Arial;
}
.menuchinh ul.menucon li:hover a{
   border-bottom: 2px solid rgb(228, 135, 135);
   color: rgb(81, 153, 81);
}
.menuchinh ul.menucon li:last-child a{
   border: none;
}
/* Phần article */
.khoinoidung{
    background-color: white;
    width: 1370px;
    height: auto;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    border: 1px solid whitesmoke;
    margin-top: 10px;
    border-radius: 10px;
}
.khoinoidung a{
    text-decoration: none;
    color: black;
    text-shadow: 0 0 2px red;
}
.theloai{
    text-shadow: 0 0 2px rgb(94, 105, 66);
    color: rgb(78, 76, 76);
}
.khoinoidung img{
    display: block;
    /* max-width:300px;
    max-height:150px; */
    width: 130px;
    height: 150px;
    float: left;
    margin-right: 20px;
  }
.textsach{
    font-family: Arial;
    line-height: 30px;
    font-size: large;
    padding-bottom: 20px;   
}
.khoinoidung a:hover{
    color: rgb(81, 153, 81);
}
/* Phần footer */
.footer{
   background-image: url('../ASM/img/ảnh\ nền\ footer.jpg');
   display: flex;
}
.footer li a{
   text-decoration: none;
   color: whitesmoke;
   padding: 30px 30px;
   margin: 10px 5px;
}
.footer li a:hover{
   color: rgb(113, 113, 194);
}
footer{
   
   display: flex;
   text-align: center;
   height: auto;
   font-size: x-large;
   padding-top: 20px;
   padding-bottom: 20px;
   font-weight: bold;
   margin-bottom: -8px;
   margin-left: -8px;
   margin-right: -8px;
   color: whitesmoke;
}
